html, body{
    height:100%;
    margin:0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-body{
    text-align:center;
}

button {
    text-decoration: none;
    color: unset;
}




.carImage {
    max-width:712px;
    max-height:400px;
    position: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: unset;
}

.accordion-button {
    background-color: #CFE2FF;
}


/*.cardImage {
    width: 80px;
    height: 80px;
    margin: auto;
}*/

hr{
    width:100%;
}

.cardFooter {
    position: relative;
    width: 100%;
    bottom: 0;
}

.card{
    align-items:center;
    border-width:3px;
}

.card-body, .card-title {
    text-align: center;
}

.card-header {
    background-color: #fff; 
    font-weight:bold;
}

.recharts-wrapper {
    position: relative;
    margin: auto;
    max-width:700px;
    max-height:275px;
}

.card-message{
    display:block;

}