.tableList {
    background-color: white;
    padding: 12px;
    border-radius: 15px;
}

.accordion{
    border-radius:15px;
}

.formsNewEm {
    background-color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    border-radius: 15px;
}



